.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {

      &:first-child {
        width: 100px;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      .is-active {
        color: #65656587;
      }
    }
  }
}